@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$font: "Kumbh Sans", sans-serif;
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
@mixin background($position) {
  content: "";
  position: absolute;
  width: 80vw;
  max-width: 1400px;
  aspect-ratio: 1;
  background-size: cover;
  z-index: -1;
  @if $position == top {
    top: -30vw;
    left: -30vw;
    background-image: url(./images/bg-pattern-top.svg);
  } @else {
    bottom: -30vw;
    right: -30vw;
    background-image: url(./images/bg-pattern-bottom.svg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: $font;
  background: $dark-cyan;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: hidden;
  &::before {
    @include background(top);
  }
  &::after {
    @include background(bottom);
  }
}
main {
  background-color: white;
  border-radius: 20px;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 100% 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  img {
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    aspect-ratio: 1;
    margin-top: 100px;
  }
  p {
    font-size: 1.2rem;
    color: $grayish-blue;
  }
  .info-main {
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
    gap: 10px;
    h1 {
      font-size: 1.5rem;
    }
  }
  .activity {
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px 50px;
    position: relative;
    &::before {
      width: 100%;
      height: 1px;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $dark-gray;
      opacity: 50%;
    }
    justify-content: space-between;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        &:not(:first-child) {
          font-size: 0.8rem;
          letter-spacing: 1.5px;
        }
        &:first-child {
          font-weight: bold;
          color: $dark-blue;
        }
      }
    }
  }
}
